---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { getCollection } from "astro:content";
import ProjectPreview from "../components/project-preview.astro";
import Layout from "@layouts/layout.astro";
import LinkButton from "@components/link-button.astro";
import SocialLinks from "@components/social-links.astro";
import { Card } from "@components/card";
import { getSortedPosts } from "@utils/getSortedPosts";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts
    .filter(({ data }) => !data.featured)
    .slice(0, 3);

const projects = [
    {
        title: "VisualEd",
        description:
            "VisualEd takes complicated stuff: processes, structures, concepts, and turns them into vivid 3D visuals you can actually explore. Dive into what interests you and watch understanding click into place.",
        year: "2026",
        sourceURL: "#",
        demoURL: "https://visual-ed.vercel.app/",
    },
    {
        title: "DigiForum Component Library",
        description:
            "A simple component library made with NextJs, Tailwind CSS and Storybook",
        year: "2023",
        sourceURL: "https://github.com/JrFelix540/digi-forum",
        demoURL: "https://65234a33d49753074afc5cec-kvffcoacar.chromatic.com/",
    },
    {
        title: "Portfolio Website",
        description: "This is what you're looking at :)",
        year: "2023",
        sourceURL: "https://github.com/JrFelix540/juniorfelix.com",
    },
];
---

<Layout>
    <Header />

    <section class="ml-auto mr-auto border-b border-skin-line pb-6 pb-8">
        <h1 class="my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl">
            Hello, I'm Felix
        </h1>
        <p class="my-2">
            I am a software developer and this is my little corner of the
            internet. Here, I share my thoughts and experiences on building
            software apps. Join me in exploring the tech world and let's learn
            together!
        </p>
        <p>
            Read my blog posts or check my <LinkButton
                className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href="https://github.com/Junior-Felix/">GitHub</LinkButton
            >.
        </p>
        <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="mb-1 mr-2 whitespace-nowrap sm:mb-0">Social Links:</div>
            <SocialLinks />
        </div>
    </section>
    <section class="ml-auto mr-auto w-full border-b border-skin-line">
        <h2 class="text-2xl font-semibold tracking-wide">Featured Posts</h2>
        <ul>
            {
                featuredPosts.map(({ slug, data }) => (
                    <Card
                        href={data.canonicalURL ?? `/posts/${slug}/`}
                        title={data.title}
                        pubDatetime={data.pubDatetime}
                        modDatetime={data.modDatetime}
                        description={data.description}
                        secHeading={false}
                    />
                ))
            }
        </ul>
    </section>
    <section class="ml-auto mr-auto w-full border-b border-skin-line">
        <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
        <ul>
            {
                recentPosts.map(({ slug, data }) => (
                    <Card
                        href={`/home/posts/${slug}/`}
                        title={data.title}
                        pubDatetime={data.pubDatetime}
                        modDatetime={data.modDatetime}
                        description={data.description}
                        secHeading={false}
                    />
                ))
            }
        </ul>
        <div class="my-4 flex justify-center">
            <LinkButton href="/posts">
                All Posts
                <svg xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                    ></path>
                </svg>
            </LinkButton>
        </div>
    </section>
    <section class="ml-auto mr-auto flex w-full flex-col gap-6">
        <h2 class="text-2xl font-semibold tracking-wide">Projects</h2>
        <div class="flex flex-col gap-4">
            {projects.map((project) => <ProjectPreview {...project} />)}
        </div>
    </section>

    <Footer />
</Layout>
